@use '/assests//style/variables';

.vertical-fader {
    width: 125px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
h5 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: variables.$global-font;
    color: white;
    text-shadow: 1px 1px black;
}
.vertical-fader-container {
    width: 100%;
    height: 90%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.vertical-fader-slide-track {
    width: 10%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
}
.vertical-fader-slider {
    width: 300%;
    height: 10%;
    border: 4px solid black;
    border-radius: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical-fader-slider-detail {
    border: 2px solid black;
    width: 75%;
    height: 75%;
    border-radius: 100%;
    background-color: gray;
}
.vertical-fader-slider-feedback {
    width: 100%;
    height: 20%;
    background-color: variables.$navigation-button-active;
    opacity: 75%;
}
.vertical-fader-mute-on, .vertical-fader-mute-off {
    width: 70%;
    height: 10%;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
}
.vertical-fader-mute-on {
    color: white;
    background-color: red;
}