#dpad-up-inactive, #dpad-up-active {
    grid-area: top;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 2px solid black;
    border-bottom: none;
}
#dpad-up-active {
    background: linear-gradient(lightgray,gray);
}
#dpad-left-inactive, #dpad-left-active {
    grid-area: left;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid black;
    border-right: none;
}
#dpad-left-active {
    background: linear-gradient(90deg,lightgray,gray);
}
#dpad-center {
    grid-area: center;
}
#dpad-right-inactive, #dpad-right-active {
    grid-area: right;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px solid black;
    border-left: none;
}
#dpad-right-active {
    background: linear-gradient(90deg,gray,lightgray);
}
#dpad-down-inactive, #dpad-down-active {
    grid-area: down;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px solid black;
    border-top: none;
}
#dpad-down-active {
    background: linear-gradient(gray,lightgray);
}
.dpad-button {
    outline: none;
    background-color: gray;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dpad {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas:
        ". top ."
        "left center right"
        ". down .";
}
#dpad-arrow-up {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid black;
}
#dpad-arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}
#dpad-arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
}
#dpad-arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid black; 
}





