@use '/assests/style/variables';

.video-conferencing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.video-conferencing-navigation {
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.video-conferencing-navigation-button-inactive, .video-conferencing-navigation-button-active {
    width: 18%;
    height: 80%;
    font-size: 18px;
    background-color: variables.$navigation-button-inactive;
    outline: none;
}
.video-conferencing-navigation-button-active {
    background-color: variables.$navigation-button-active;
    color: white;
    text-shadow: 1px 1px black;
}
.video-conferencing-dial {
    border: 1px solid black;
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "keypad buttons"
        "fader fader"
    ;
}
#video-conferencing-dial-keypad-container, #video-conferencing-dial-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#video-conferencing-dial-keypad-container {
    align-items: flex-end;
    grid-area: keypad;
}
#video-conferencing-dial-buttons-container {
    align-items: flex-start;
    grid-area: buttons;
    margin-top: 10%;
    margin-left: 1%;
}
#video-conferencing-dial-fader-container {
    grid-area: fader;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.video-conferencing-dial-buttons {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
}
.video-conferencing-dial-button-inactive, .video-conference-dial-button-active {
    width: 87%;
    height: 18%;
    border: none;
    border-radius: 10px;
    margin-bottom: 1%;
}
.video-conferencing-directory {
    border: 1px solid black;
    width: 100%;
    height: 88%;
}
#video-conferencing-directory {
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.video-conferencing-directory-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.video-conferencing-directory-item-active, .video-conferencing-directory-item-inactive {
    width: 99%;
    height: 45px;
    border: none;
    outline: none;
    margin-bottom: 1%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 1px 1px black;
}
.video-conferencing-directory-item-active {
    background-color: rgba(0,150,255,0.3);
}
#video-conferencing-directory-center {
    overflow-y: scroll;
    position: relative;
    height: auto;
}
.video-conferencing-camera {
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.video-conferencing-camera-col {
    display: flex;
    flex-direction: column;
}
.video-conferencing-camera-preset-active, .video-conferencing-camera-preset-inactive {
    font-size: 18px;
    background-color: variables.$navigation-button-inactive;
    outline: none;
}
.video-conferencing-camera-preset-active {
    background-color: variables.$navigation-button-active;
    color: white;
    text-shadow: 1px 1px black;    
}
#video-conferencing-camera-list {
    grid-area: list;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#video-conferencing-camera-zoom {
    grid-area: zoom;
    border: 1px solid black;
}
#video-conferencing-camera-ptz {
    grid-area: ptz;
    border: 1px solid black;
}
#video-conferencing-camera-area {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
        "list list"
        "zoom ptz";
}
.video-conferncing-camera-active, .video-conferncing-camera-inactive {
    width: 30%;
    height: 40%;
    font-size: 18px;
    background-color: variables.$navigation-button-inactive;
    outline: none;
    margin-left: 1%;
}
.video-conferncing-camera-active {
    background-color: variables.$navigation-button-active;
    color: white;
    text-shadow: 1px 1px black;    
}
#video-conferencing-content {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#video-conferencing-content-sources, #video-conferencing-content-options {
    width: 65%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#video-conferencing-content-sources {
    background-color: rgba(64,64,64,0.5);
}
.video-conferencing-content-source-active, .video-conferencing-content-source-inactive {
    width: 20%;
    height: 65%;
    margin: 0.5%;
    background-color: variables.$navigation-button-inactive;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid lightgray;
}
.video-conferencing-content-source-active {
    background-color: variables.$navigation-button-active;
    color: white;
    text-shadow: 1px 1px black;
    border: none;
}
.video-conferencing-content-option {
    width: 30%;
    height: 65%;
    margin: 0.5%;
    background-color: variables.$navigation-button-inactive;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid lightgray;
}
#video-conferencing-content-start-active {
    background-color: green;
    color: white;
    text-shadow: 1px 1px black;
}
#video-conferencing-content-stop-active {
    background-color: red;
    color: white;
    text-shadow: 1px 1px black;
}











