@use 'assests/style/variables';

.footer {
    width: 100%;
    height: 10%;
    background-color: variables.$theme-color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-fader-container {
    width: 35%;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-settings {
    width: 8%;
    height: 70%;
    margin-left: 1%;
    background: none;
    font-weight: bold;
    color: whitesmoke;
    border: 3px solid white;
    border-radius: 10px;
}