$global-font: Arial, Helvetica;

$theme-color-primary: #404041;
$theme-color-secondary: white;

$navigation-button-inactive: whitesmoke;
$navigation-button-active: #61bed4;

$icon-button-color-active: rgba(97,190,212,1);
$icon-button-color-inactive: rgba(97,190,212,0);